@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
}
.card {
  display: inline-block;
  height: 400px;
  width: 280px;
  border-radius: 0.5em;
}

.top-pick {
  font-size: 80px;
}
.bottom-pick {
  text-align: end;
  font-size: 80px;
  transform: rotateX(180deg);
}
.cardNumber {
  font-size: 110px;
  color: black;
}
