@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
}
.card {
  display: inline-block;
  height: 400px;
  width: 280px;
  border-radius: 0.5em;
  position: relative;
}
.top-pick {
  position: absolute;
  left: 20px;
  font-size: 80px;
}
.bottom-pick {
  position: absolute;
  bottom: 0px;
  right: 20px;
  font-size: 80px;
  transform: rotateX(180deg);
}
.cardNumber {
  position: absolute;
  top: 28%;
  left: 40%;
  font-size: 110px;
  margin-left: 0;
  color: black;
}

.spade {
  content: "\2660";
}

.club {
  content: "\2663";
}

.heart {
  color: red;
  content: "\2665";
}
.diamond {
  color: red;
  content: "\2666";
}
